# Database volume
db/data/

# Docker env secrets
.docker-env/
.env

# Laravel app
src/vendor/
src/node_modules/
src/.env
src/public/storage
src/storage/logs/*.log

# OS / IDE
.DS_Store
.idea/
.vscode/
.env.local.backup
*.backup
